body{
margin:0;
background:#080511;
color:white;
font-family:Arial,sans-serif;
text-align:center;
}

#menu{
padding-top:50px;
}

#menu h1{
font-size:4rem;
color:#d8a8ff;
}

#fighters{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
margin-top:40px;
}

#fighters button{

padding:20px;

background:#151022;

color:white;

border:2px solid #8d4cff;

border-radius:12px;

cursor:pointer;
}

#game{
padding:20px;
}

#arena{

width:100%;
max-width:1200px;

height:600px;

background:
linear-gradient(
180deg,
#1b1430,
#0a0811
);

border:3px solid #8d4cff;
}

#hud{

display:flex;

justify-content:space-around;

margin-bottom:20px;
}

.bar{

width:250px;

height:25px;

background:#222;

border-radius:20px;

overflow:hidden;
}

#playerHP{

height:100%;

width:100%;

background:#00ff88;
}

#enemyHP{

height:100%;

width:100%;

background:#ff5555;
}

#controls{

margin-top:20px;

color:#aaa;
}
